@model List<ExamTemplateAsp.Models.Student>
@{
    Layout = null;
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Student database</title>
    <style>

        body {
            margin: 0 auto 0 auto;
            width: 100%;
            text-align: center;
            margin: 20px 0px 20px 0px;
        }

        #welcome {
            font-size: 3em;
        }

        #error {
            font-size: 1em;
            color: red;
        }

        .button {
            width: 125px;
        }

        #maindiv {
            width: 350px;
            margin: 0 auto 0 auto;
            padding: 10px 5px 10px 5px;
            border: 1px solid black;
        }

        table {
            margin: 0 auto 0 auto;
            padding: 10px 5px 10px 5px;
        }

        .main-form {
            margin: 0 auto 0 auto;
        }

        #sname {
            width: 70px;
        }

        #sgrade {
            width: 25px;
        }
    </style>

    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script>$(document).ready(function () {
            $("#filter").click(function () {
                $.get("/Home/GetFiltered", { student_name: $("#student_name").val() },
                    function (data, status) {
                        $("#maindiv").html(data);
                    });
            });
        });</script>


</head>
<body>
    <div>
        <h1 id="welcome">Welcome back, @Session["userName"]</h1>
        <h6 id="error">@TempData["error"]</h6>
    </div>

    Enter name for filtering students: <input type="text" id="student_name" />
    <input class="button" id="filter" type="button" value="Get filtered students" />
    <button class="button" onClick="window.location.reload();">Get all students</button>
    <a style="text-decoration: none" class="button" href="@Url.Action("Index", "Add")"><button>Add new student</button></a>
    <br />
    <br />
    <br />
    <div id="maindiv">
        <table>
            <!--Header-->
            <tr>
                <th>Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Name&nbsp;&nbsp;&nbsp;</th>
                <th>Grade&nbsp;</th>
                <th>Update&nbsp;</th>
                <th>Delete&nbsp;</th>
            </tr>
        </table>

        <!--Rows-->
        @foreach (var student in Model)
        {

            <form method="post" class="main-form">
                <input type="hidden" id="sid" name="sid" value="@Html.DisplayFor(m => student.Id)" />@Html.DisplayFor(m => student.Id)
                <input type="text" id="sname" name="sname" value="@Html.DisplayFor(m => student.Name)" />
                <input type="text" id="sgrade" name="sgrade" value="@Html.DisplayFor(m => student.Grade)" />
                <input type="submit" name="update" value="Update" formaction="/Home/Update" />
                <input type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure you want to delete this student?');" formaction="/Home/Delete" />
            </form>

        }

    </div><br />

    <br />
    <br />

    <a style="text-decoration: none" class="button" href="@Url.Action("LogOut", "Login")"><button>Logout</button></a>

    <br />

</body>
</html>

